html, body, h1, h2, h3, h4, ul, ol, li, p, a {
  padding: 0;
  border: 0;
  margin: 0;
}
h1, h2, h3, h4, p, a, div {
    /* font-family: "Verdana", Geneva, sans-serif; */
    font-family: "Lucida Console", Monaco, monospace;
}
p {
  text-decoration: underline;
  color: red;
}

li {
  font-size:24px;
}
a {
  text-decoration:none;
}
a:hover {
  text-decoration:underline;
  color:green;
}

html {
  background-color:#aaaaaa;
}
body {
  margin: 10px auto 0 auto;
}

.header {
  padding: 10px 10px 10px 10px;
  background-color:#446688;
}
.header h1{
  color:#AAAAFF;
  text-align:center;
}

.main_content {
  padding: 0 0 0 0;
  background-color:#dddddd;
}

.main_content.flakey {
  padding: 0;
  border: 0;
  margin: 0;
  background-color:#eeeeee;
}

button {
  opacity:1.0;
  padding-bottom:30px;
}
button:hover {
  opacity:0.5;
}
ol {
  padding-left:100px;
}

.nav_div {
  border: 0px;
  margin: 0px 0px 0px 0px;
  padding: 0px 0px 0px 0px;
  background-color:#00ff00;
}

.nav_content {
  padding-left:30px;
}
.nav_content  a{
  color:#1122dd;
  text-decoration:none;
}
.nav_content li{
  display: inline;
  font-size:1em;
  padding: 10px 15px 10px 0;
}

.thumbnail {
  padding: 0px 0px 0px 0px;
  margin:  0px 0px 0px 0px;
  border: 0px;
  border-image-width: 0px;
  width:100px;
  height:100px;
  opacity:1.0;  
}
.highlight {
  /* opacity: 0.7; */
}


.chooser {
  opacity:1.0;
  background-color:#000000;
  float: right;
}
.chooser:hover {
  /* opacity:0.5; */
  /* border: 5px inset red; */
}

#red.colorChooser {
  background-color:#FF0000;
}
#green.colorChooser  {
  background-color:#00FF00;
}
#blue.colorChooser {
  background-color:#0000FF;
}
#magenta.colorChooser {
  background-color:#FF00FF;
}
#yellow.colorChooser {
  background-color:#FFFF00;
}
#cyan.colorChooser {
  background-color:#00FFFF;
}
#forest-green.colorChooser {
  background-color:#186000;
}
#maroon.colorChooser {
  background-color:#800000;
}
#teal.colorChooser {
  background-color:#008080;
}
#gray.colorChooser {
  background-color:#808080;
}
#silver.colorChooser {
  background-color:#c0c0c0;
}
#white.colorChooser {
  background-color:#FFFFFF;
}
#black.colorChooser {
  background-color:#000000;
}










#canvasID {
  padding: 0;
  border: 0;
  margin: 0;
  display: inline-block;
}
.barPlaceholder {
  padding: 0;
  border: 0;
  /* margin: 0 5px 0 -5px; */
  float: right;
  /* display: inline-block; */
}
.toolBarPlaceholder {
  padding: 0;
  border: 0;
  /* margin: 0 5px 0 -5px; */
  float: left;
  /* display: inline-block; */
}
